#number {
  text-decoration: underline;
  margin: 1px;
}

body{
  text-align: center;
  background-color: yellow;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

@keyframes moving {
  0% { transform: translate(-50px, 50px); }
  50% { transform: translate(25px, -25px); }
  100% { transform: translate(-50px, 50px); }
}

#press {
  display: inline-block;
  padding: 10px;
  border: 2px solid #333;
  animation-name: moving;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  position:absolute;
}

