html{
  background-image: url(/img/Sports.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
}
.score{
  content: url(/img/Scoreoverlay.png);
  width: 300px;
}

.channel{
  content:url(/img/Channellogo.png);
  width: 140px; 
  position: absolute;
}